
    
    {% set url= path('ads_single',{'slug':ad.slug}) %}
        <div class="d-flex flex-row col-md-4">
            
            <div class="card mb-4">
                <div class="card-header bg-primary text-light">{{ad.rooms}} chambres <strong>{{ad.price}}&euro;/nuit</strong></div>
                <div class="card-body">
                    <a href="{{ url }}">
                        <img src="{{ad.coverImage}}" alt="{{ad.title}}" style="height:200px;width:100%; display:block;">
                    </a>
                        <h4 class="card-title mt-3">{{ad.title}}</h4>
                        <p class="card-text">{{ad.introduction}}</p>
                        <a href="{{path('ads_single',{'slug':ad.slug})}}" class="btn btn-warning btn-sm">+ d'infos</a>
                        {% if app.user and app.user == ad.user %}
                             <a href="{{path('ads_edit',{'slug':ad.slug})}}" class="btn btn-info btn-sm">Modifier l'annonce</a>
                            
                        {% endif %}
                </div>

                <div class="card-footer text-muted">
                    <span>Pas encore noté</span>
                </div>
            </div>
        </div>   
